# DATABASE_URL: PostgreSQL database connection string
DATABASE_URL=""

# SMTP Mail Configuration for 2FA Email OTP
MAIL_HOST=""
MAIL_PORT=""
MAIL_USERNAME=""
MAIL_PASSWORD=""
MAIL_ENCRYPTION=""
MAIL_FROM_ADDRESS=""
MAIL_FROM_NAME="KBZ Bank IR Portal"
MAIL_TO_ADDRESS=""
ENABLE_DB_SEED=false
CBM_FOREX_API_URL=""